@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --text-color: #444746;
    --x-grey: #f7f9fb;
    --x-grey-dark: #e2e7eb;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-x-grey: var(--x-grey);
    --color-x-grey-dark: var(--x-grey-dark);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    /* background: var(--background);
    color: var(--foreground); */
    /* font-family: Arial, Helvetica, sans-serif; */
    color: var(--text-color);
}

.sidebar-container {
    display: none;
}

.header {
    width: 100%;
    height: 60px;
    border-bottom: solid 1px var(--color-x-grey-dark);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 16px;
}

@media (min-width: 1024px) {
    .sidebar-container {
        width: auto;
        height: 100%;
        display: flex;
    }
}
